---
import { Image } from "astro:assets";
import githubIcon from "../assets/icons/github.svg";
import gmailIcon from "../assets/icons/gmail.svg";
import leetcodeIcon from "../assets/icons/leetcode.svg";
import linkedinIcon from "../assets/icons/linkedin.svg";
import xIcon from "../assets/icons/x.svg";
---

<ul class="social-list">
  <li>
    <a
      href="https://github.com/vkuschenko"
      target="_blank"
      rel="noopener noreferrer"
      ><Image class="social-img" src={githubIcon} alt="github link" /></a
    >
  </li>
  <li>
    <a
      href="mailto:vkuschenko@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      ><Image class="social-img" src={gmailIcon} alt="gmail link" /></a
    >
  </li>
  <li>
    <a
      href="https://linkedin.com/in/victor-kushchenko-65071b30"
      target="_blank"
      rel="noopener noreferrer"
      ><Image class="social-img" src={linkedinIcon} alt="linkedin link" /></a
    >
  </li>
  <li>
    <a
      href="https://twitter.com/vkuschenko"
      target="_blank"
      rel="noopener noreferrer"
      ><Image class="social-img" src={xIcon} alt="x link" /></a
    >
  </li>
  <li>
    <a
      href="https://leetcode.com/vkuschenko"
      target="_blank"
      rel="noopener noreferrer"
      ><Image class="social-img" src={leetcodeIcon} alt="leetcode link" /></a
    >
  </li>
</ul>

<style>
  .social-list {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .social-img {
    width: 24px;
    height: 24px;
  }
</style>
